{% extends 'admin/main.html.twig' %}

{% block title %} Ayarlar Düzenleme Bölümü {% endblock %}


{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Ayarlar Bölümü Düzenleme</h3>
                </div>
                <form>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title Alanı</label>
                            <input type="text" class="form-control" value="{{ setting.title }}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Description Alanı</label>
                            <input type="text" class="form-control" value="{{ setting.description }}">
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('admin.setting') }}"><button type="button" class="btn btn-default">Geri Dön</button></a>
                        <button style="float: right" type="submit" class="btn btn-primary">Güncelleme</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
{% endblock %}

